
.navigation ul li.active a .icon {
    transform: translateY(-35px);
}

.navigation ul li.active a .textt {
    opacity: 1 !important;
    transform: translateY(10px);
}

/* .indicator::before{
    overflow: hidden !important;
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 #F2F2F2;
}

.indicator::after{
    overflow: hidden !important;
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 #F2F2F2;
} */

.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(75px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(-75px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(-75px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(-75px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(-75px * 4));
}